<hr>

<footer class="d-flex justify-content-center bg-light">
    <div class="conatiner">
        <h4>Síguenos en 
            <a href="https://www.facebook.com/RegalaAmorEbejico/photos" target="_blank" class="mx-2"><i class="fab fa-facebook-square"></i></a>
            <a href="" class=""><i class="fab fa-instagram"></i></a>
        </h4>
    </div>
</footer>


</body>
</html>