<%- include('partials/header') -%>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Regala Amor</h1>
        <p class="lead">Arma tu Ancheta a Tu Gusto</p>
        <hr class="my-4">
        <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
        <a class="btn btn-primary btn-lg" href="/gifts" role="button">Regalos</a>
        <!--<a class="btn btn-primary btn-lg" href="/user/login" role="button">Ingreso Administrador</a>-->
        <!--<li><a href="/admin/register">Sign Up!</a></li>-->
        <!--<li><a href="/admin/login">Login!</a></li>
        <li><a href="/admin/logout">Logout!</a></li>-->
      </div>
</div>





<%- include('partials/footer') -%>